name: Dev Container CI

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"
permissions:
  contents: write
  packages: write

jobs:
  build:
    strategy:
      matrix:
        platform:
          - arm64
          - armhf
          - armel
          - riscv64
          - amd64
          - i386
        build_type:
          - debug
          - release
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Dev Container
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ github.repository_owner }}/armhf_cross_compile/devcontainer
          cacheFrom: ghcr.io/${{ github.repository_owner }}/armhf_cross_compile/devcontainer
          runCmd: |
            # Set compiler based on platform
            case "${{ matrix.platform }}" in
              arm64)
                export CPP=aarch64-linux-gnu-g++
                export CC=aarch64-linux-gnu-gcc
                ;;
              armhf)
                export CPP=arm-linux-gnueabihf-g++
                export CC=arm-linux-gnueabihf-gcc
                ;;
              armel)
                export CPP=arm-linux-gnueabi-g++
                export CC=arm-linux-gnueabi-gcc
                ;;
              riscv64)
                export CPP=riscv64-linux-gnu-g++
                export CC=riscv64-linux-gnu-gcc
                ;;
              amd64)
                export CPP=x86_64-linux-gnu-g++
                export CC=x86_64-linux-gnu-gcc
                ;;
              i386)
                export CPP=i686-linux-gnu-g++
                export CC=i686-linux-gnu-gcc
                ;;
            esac

            export CROSS_ARCH=${{ matrix.platform }}

            # Build based on build type
            if [ "${{ matrix.build_type }}" == "release" ]; then
              make cross-release
            else
              make cross-debug
            fi

            # Rename output file to include build type
            mv firmware_${{ matrix.platform }}.bin firmware_${{ matrix.platform }}_${{ matrix.build_type }}.bin

      - name: Upload files to GH release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: firmware_${{ matrix.platform }}_${{ matrix.build_type }}.bin
          asset_name: firmware_${{ matrix.platform }}_${{ matrix.build_type }}_${{ github.ref_name }}.bin
          prerelease: true